body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 90px;
  padding-bottom: 70px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.completepage {
  background-color: #f8f3df;
}

.slideshow {
  margin: 5px auto;
  overflow: hidden;
  max-width: 100%;
  max-height: 450px;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 2500ms;
}

.slide {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.pettype {
  width: 140px;
  height: 130px;
}

.pettypebox{
  border: 15px;
  border-style: double;
  border-radius: 25px;
  border-color: #abd3db;
}

.donationbox{
  border: 15px;
  border-style: double;
  border-radius: 25px;
  border-color: #abd3db;
  height: 280px;
  margin: 15px;
  padding: 15px;
}

.donation {
  width: 160px;
  height: 150px;
}

.addbox{
  border: 15px;
  border-style: double;
  border-radius: 25px;
  border-color: #abd3db;
}

.singinbox {
  border: 10px;
  border-style: solid;
  border-radius: 25px;
  border-color: #abd3db;
  padding: 20px 95px 20px 20px;
}

.loginbox {
  border: 10px;
  border-style: solid;
  border-radius: 25px;
  border-color: #abd3db;
  padding: 20px 35px 20px 20px;
}

.card{
  border-radius: 0px 0px 15px 50px;
}

/* 
"grass": "#bad36d",
"brown": "#e3cd9c",
"aqua": "#469487",
"paleblue": "#abd3db",
"orange": "#faaf6a",
"pink": "#faaf6a",
"pale": "#f8f3df",
"red": "#dc4d41",
"labrador": "#fbb540"
*/